* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading {
  color: #fa9191;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 50px 0;
}

.img-div {
  display: flex;
  justify-content: space-around;
}
.img-div img {
  width: 250px;
  height: 350px;
}
